<%inherit file="/homepage/templates/base.htm" />

<%block name="navigation" />

<%block name="content">
    <div class="content">
        <h2>Reset Password</h2>


        <form method="POST">
            <div id="pwd_message" role="alert"></div>
            ${ form }
            <div id="pwd_message"></div>

            <div class="buttons">
                <button class="btn btn-success save" type="submit">Save</button>
                <a role="button" class="btn btn-default" href="/account/myaccount">Cancel</a>
            </div>
        </form>

    </div>
</%block>