<%inherit file="/homepage/templates/base_ajax.htm" />

<%block name="mainnav"></%block>

<%block name="navigation"></%block>

<%block name="content">
        <form id="login_form" method="post" action="/account/index.login_form/">
            <table>
                ${ form }
            </table>
            <br>
            <button class="btn btn-warning" type="submit">Login</button>
        </form>
        <hr>
        <a class="forgot" href="/password_reset/">Forgot your password?</a>

</%block>