<%inherit file="/homepage/templates/base.htm" />

<%block name="content">
    <div class="content">
        <div class="event-header">
            <h2 class="event-title">${ event.name }</h2>
            <h4>Start Date: </h4>
            <h6>Venue:</h6>
        </div>

        <div class="item-section">
            <img class="main-pic" src="${ STATIC_URL }festivals/media/${event.id}.jpg" alt="Not Available"/>
        </div>
        <p>
            ${ event.description } Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor
            incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco
            laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit
            esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa
            qui officia deserunt mollit anim id est laborum.
        </p>
        <div>
            <a class="btn btn-default btn-sm" href="/festivals/index">
                << Back to Festivals Page
            </a>
        </div>
    </div>
</%block>