<%inherit file="/homepage/templates/base.htm" />

<%block name="title">CHF Festivals || Find a CHF Festival Near You</%block>

<%block name="navigation">
    <ul class="nav nav-pills nav-stacked">
        <li role="button"><a href="/festivals/index">Events</a></li>
        <li role="button" class="active"><a>Venues</a></li>
        <li role="button"><a href="/festivals/artisan_products">Artisan Products</a></li>
    </ul>
</%block>

<%block name="content">
    <div class="content">
        <div class="page-title-block">
            <h1 class="page-title">Colonial Heritage Festivals</h1>
        </div>

        <div class="row search-bar">
            <div class="col-lg-8">
                <div class="input-group">
                    <input type="text" class="form-control" id="filter" placeholder="Search rentable items or products">
                    <span class="input-group-btn">
                        <button class="btn btn-default" type="button">Go!</button>
                    </span>
                </div><!-- /input-group -->
            </div><!-- /.col-lg- -->
            <div class="col-lg-4">
                <span id="filter-count"></span>
            </div>
        </div><!-- /.row -->

        <hr>

        <div class="row">
            %for v in venue_list:

            <!-- Display a thumbnail for each product-->

            <div class="col-sm-4">
                <div class="thumbnail thumbnail-item" id="thumbnail">
                    <img src="${ STATIC_URL }festivals/media/1.jpg" alt="Image not available" class="item-pic"/>
                    <div class="caption" style="text-align:center;">
                        <h3 class="name">${ v.name }</h3>
                        <p>${ v.address }</p>
                        <p>${ v.city }, ${ v.state }</p>
                        <p>${ v.zip }</p>
                    </div> <!-- caption -->
                </div> <!--thumbnail -->
            </div><!--col-->

            %endfor
        </div> <!--row-->

    </div>
</%block>