html {
  position: relative;
  min-height: 100%;
}
body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}

header {
    padding: 36px 0;
    height: 250px;
    text-align: center;
    font-size: 4em;
    color: #fff;
    background-image: url("../media/appmtns.jpeg");
    background-color: #0088CC;
}

/********* nav bar styles *********/

#wrap	{
	width: 100%; /* Spans the width of the page */
	height: 50px;
	margin: 0; /* Ensures there is no space between sides of the screen and the menu */
	z-index: 99; /* Makes sure that your menu remains on top of other page elements */
	position: relative;
	background-color: #000;
}

.navbar	{
	height: 50px;
    padding: 0;
	margin: 0;
	position: absolute; /* Ensures that the menu doesn’t affect other elements */
	border-right: 1px solid #000;
}

.navbar li 	{
    height: auto;
    width: 150px;  /* Each menu item is 150px wide */
    float: left;  /* This lines up the menu items horizontally */
    text-align: center;  /* All text is placed in the center of the box */
    list-style: none;  /* Removes the default styling (bullets) for the list */
    /* font: normal bold 12px/1.2em Arial, Verdana, Helvetica; */
    font-family: Arial, Verdana, Helvetica;
    padding: 0;
    margin: 0;
    background-color: #000;
}

.navbar a	{
    padding: 14px 0;  /* Adds a padding on the top and bottom so the text appears centered vertically */
    /*border-left: 1px solid #54879d; /* Creates a border in a slightly lighter shade of blue than the background.  Combined with the right border, this creates a nice effect. */
    /*border-right: 1px solid #1f5065; /* Creates a border in a slightly darker shade of blue than the background.  Combined with the left border, this creates a nice effect. */
    text-decoration: none;  /* Removes the default hyperlink styling. */
    color: white; /* Text color is white */
    display: block;
}

.navbar li:hover, a:hover {
    background-color: #222;
    /*border-left: 1px solid #444;
    border-right: 1px solid #444;*/
}

.navbar li ul 	{
    display: none;  /* Hides the drop-down menu */
    height: auto;
    margin: 0; /* Aligns drop-down box underneath the menu item */
    padding: 0; /* Aligns drop-down box underneath the menu item */
}

.navbar li:hover ul 	{
    display: block; /* Displays the drop-down box when the menu item is hovered over */
}

.navbar li ul li {background-color: #222;}

.navbar li ul li a 	{
    border-left: 1px solid #1f5065;
    border-right: 1px solid #1f5065;
    border-top: 1px solid #1f5065;
    /*border-bottom: 1px solid #1f5065;*/
}

.navbar li ul li a:hover {background-color: #444;}



.container {
    border: 5px;
    width: 1100px;
    background-color: #ffffff;
    padding-bottom: 20px;
}

.pull-right h5 {
    color: #fff;
    height: 100%;
    margin: 17px 0;
}

.pull-right button {
    margin: 10px 0;
}


/********* container styles *********/

.col-md-2 {
    margin: 20px 0;
    padding: 10px 10px 60px 10px;
    border: thin solid #eee;
    height: 100%;
    background-color: #bdecff;
    color: #f5f5f5;
}

.buttons {
    margin-top: 20px;
}

ul li {
    list-style-type: none;
}

footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 40px;
  background-color: #f5f5f5;
}

