.search-bar {
    margin: 10px 0;
}

.item-pic {
    max-height: 220px;
    max-width: 220px;
}

.cart-pic {
    height: 50px;
}

.cart-headers {
    text-align: center;
    height: 30px;
    background: #000;
    color: #ddd;

}

.quantity {
    margin: -20px auto 5px auto;
    width: 50px;
}