.item_container{
    display: inline-block;
    border-radius: 5px;
    border: thin solid #999;
    margin: 5px 20px 5px 0;
    padding-top: 5px;
    width: 225px;
    height: 275px;
    text-align: center;
    vertical-align: top;
}

    .item_container  a  img {
		max-height: 200px;
		max-width: 200px;
        clear: both;
        margin: 0 12px;

	    }

.item-pic {
    border-radius: 10px;
    border: 2px solid #999;
}

.item-link {
    margin-bottom: 5px;
    text-decoration: none;
    color: #000;
}

.item-link:hover {
    text-decoration: none;
    color: green;
    background-color: transparent;
}

.item-link img:hover {
    text-decoration: none;
    border: 2px solid green;
}

