## this is the skeleton of all pages on in this app - it defines the basic html tags

## set up a StaticRenderer object to enable the CSS/JS automatic inclusion magic.
<%! from django_mako_plus.controller import static_files %>
<%  static_renderer = static_files.StaticRenderer(self) %>

<!DOCTYPE html>
<html>
    <meta charset="UTF-8">
    <%block name="meta">
    <meta name="description" content="The Colonial Heritage Foundation is a organization dedicated to honoring our nation's rich history. Based in Orem, Utah, CHF strives awaken a sense of patriotism is all those who interested in learning more about early American culture."/>
    <meta name="keywords" content="colonial, heritage, american, foundation, patriotism"/>
    <meta name="robots" content="index, follow"/>
    </%block>
    <head>

        <title>
            <%block name="title">CHF || Home</%block>
        </title>

        <!--
        <title>Colonial Heritage Foundation || Home</title>
        -->

        ## add any site-wide scripts or CSS here; for example, jquery:
        <!-- Latest compiled and minified CSS -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">

        <!-- Latest compiled and minified JavaScript -->
        <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>
        <script src="${ STATIC_URL }homepage/media/jquery.form.js"></script>
        <script src="${ STATIC_URL }homepage/media/jquery.loadmodal.js"></script>

        <!-- favicon -->
        <link rel="icon" type="image/x-icon" href="${ STATIC_URL }homepage/media/favicon.ico">

        ## render the css with the same name as this page
        ${ static_renderer.get_template_css(request, context)  }

    </head>
    <body>
  
        <header>
            <h1 id="header-title">
            Colonial Heritage Foundation
            </h1>
        </header>

        <!-- This will be be the main nav bar that lies right under the main header -->
        <div class="col-md-12" id="wrap">
            <!-- list of main nav links -->

            <%block name="mainnav">
                <ul class="navbar">
                %if request.user.is_authenticated():
                    %if request.user.is_staff:
                    <li><a>Events</a>
                        <ul>
                            <li><a href="/homepage/events/">Events</a></li>
                            <li><a href="/homepage/public_events">Public Events</a></li>
                            <li><a href="/homepage/venues/">Venues</a></li>
                        </ul>
                    </li>
                    <li><a>Inventory</a>
                        <ul>
                            <li><a href="/homepage/items/">Items</a></li>
                            <li><a href="/homepage/products/">Products</a></li>
                            <li><a href="/homepage/rentals">Rentals</a></li>
                        </ul>
                    </li>
                        %if request.user.is_superuser:
                    <li><a href="/homepage/users/">Users</a></li>
                        %endif
                    %else:
                    <li><a href="/homepage/index/">Home</a></li>
                    <li><a href="/catalogue/index/">Store</a></li>
                    <li><a href="/festivals/index/">Festivals</a></li>
                    %endif

                    <li><a>Account <span class="glyphicon glyphicon-user" aria-hidden="true"></span></a>
                        <ul>
                           <li><a href="/account/myaccount/">My Account</a></li>
                           <li><a href="/homepage/logout/">Log Out</a></li>
                        </ul>
                    </li>
                %else:
                    <li><a href="/homepage/index/">Home</a></li>
                    <li><a href="/catalogue/index/">Store</a></li>
                    <li><a href="/festivals/index/">Festivals</a></li>
                %endif
                </ul>
            </%block>

            <div class="pull-right">
            %if request.user.is_authenticated():
                <h5>Welcome, ${ request.user.get_full_name() }</h5>
            %else:
                <button id="show_login_dialogue" class="btn btn-default btn-sm">Login</button>
                <a role="button" class="btn btn-success btn-sm" href="/account/signup">Sign Up</a>
            %endif
            </div>

        </div>

        <div class="container">

            <!-- Left Column -->
            <div class="col-md-2">
                <nav id="side-nav">
                    <%block name="navigation">
                        <ul class="nav nav-pills nav-stacked">
                            <li role="button"><a href="/homepage/index">About</a></li>
                            <li role="button"><a href="#">Contact</a></li>
                            <li role="button"><a href="/homepage/terms">Terms</a></li>
                        </ul>
                    </%block>
                </nav>
            </div>

            <!-- Center Column -->
            <div class="col-md-10">
                <div id="main-content">
                    <%block name="content">
                    Site content goes here in sub-templates.
                    </%block>
                </div>
            </div>

        </div>

        <footer class="panel-footer">
            &#64 Group 1-12 All rights reserved 2015
        </footer>
  
    ## render the JS with the same name as this page
    ${ static_renderer.get_template_js(request, context)  }
  
    </body>
</html>