<!DOCTYPE html>
<html>
    <head>
        <title>Order Receipt</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
        <link href="${ STATIC_URL }homepage/styles/batch_process.css" media="all" rel="stylesheet" type="text/css" />
    </head>

    <body>
        <div class="batch-container">
            <h2>Batch Process</h2>

            <div class="r-tables">
                <h4>Rentals 30 days overdue</h4>
                <table id="users-table" class="table table-striped table-bordered">
                    <tr>
                        <th>ID</th>
                        <th>Rental Time</th>
                        <th>Due Date</th>
                        <th>Discount Percent</th>
                        <th>Customer</th>
                    </tr>

                %for r in batch_30:
                    <tr>
                        <td>${r.id}</td>
                        <td>${r.rental_time}</td>
                        <td>${r.due_date}</td>
                        <td>${r.discount_percent}</td>
                        <td>${r.customer}</td>
                    </tr>
                %endfor

                </table>
            </div>

            <div class="r-tables">
                <h4>Rentals 60 days overdue</h4>
                <table id="users-table" class="table table-striped table-bordered">
                    <tr>
                        <th>ID</th>
                        <th>Rental Time</th>
                        <th>Due Date</th>
                        <th>Discount Percent</th>
                        <th>Customer</th>
                    </tr>

                %for r in batch_60:
                    <tr>
                        <td>${r.id}</td>
                        <td>${r.rental_time}</td>
                        <td>${r.due_date}</td>
                        <td>${r.discount_percent}</td>
                        <td>${r.customer}</td>
                    </tr>
                %endfor

                </table>
            </div>

            <div class="r-tables">
                <h4>Rentals 90+ days overdue</h4>
                <table id="users-table" class="table table-striped table-bordered">
                    <tr>
                        <th>ID</th>
                        <th>Rental Time</th>
                        <th>Due Date</th>
                        <th>Discount Percent</th>
                        <th>Customer</th>
                    </tr>

                %for r in batch_90:
                    <tr>
                        <td>${r.id}</td>
                        <td>${r.rental_time}</td>
                        <td>${r.due_date}</td>
                        <td>${r.discount_percent}</td>
                        <td>${r.customer}</td>
                    </tr>
                %endfor

                </table>
            </div>
            <div class="e-button">
                <button class="btn btn-danger">Email to Administrator</button>
            </div>
        </div>
    </body>
</html>