<%block name="content">
    <div class="content">
        <h4>Batch Process</h4>

        <table id="users-table" class="table table-striped table-bordered">
            <tr>
                <th>ID</th>
                <th>Rental Time</th>
                <th>Due Date</th>
                <th>Discount Percent</th>
                <th>Customer</th>
            </tr>

        %for item in batch:
            <tr>
                <td>${batch.id}</td>
                <td>${batch.rental_time}</td>
                <td>${batch.due_date}</td>
                <td>${batch.discount_percent}</td>
                <td>${batch.customer}</td>
            </tr>
        %endfor

        </table>
        <button class="btn btn-danger">Email to Administrator</button>
    </div>
</%block>