<%inherit file="base.htm" />
<%inherit file="base_events.html" />

<%block name="title">CHF Admin || Event Management</%block>

<%block name="content">
    <div class="content">
        <h4>Event Management</h4>

        <table id="users-table" class="table table-striped table-bordered">
            <tr>
                <th>ID</th>
                <th>Start</th>
                <th>End</th>
                <th>Map File Name</th>
                <th>
                    <a href="/homepage/events.create/" class="btn btn-success btn-sm"><span class="glyphicon glyphicon-plus" aria-hidden="true"></span> Add Event</a>
                </th>

            </tr>

        %for event in events:
            <tr>
                <td>${event.id}</td>
                <td>${event.start_date}</td>
                <td>${event.end_date}</td>
                <td>${event.map_file_name}</td>
                <td>
                   <a href="/homepage/events.edit/${event.id}" class="btn btn-primary btn-sm">Edit</a>
                </td>

            </tr>
        %endfor

        </table>
    </div>
</%block>