<%inherit file="base.htm" />
<%inherit file="base_inventory.html" />

<%block name="content">
    <div class="content">
        <h4>Item Management</h4>
        <div class="pull-right">
            <a role="button" class="btn btn-primary btn-sm" target="_blank" href="/homepage/batch_process">Run Rental Batch</a>
        </div>

        <table id="users-table" class="table table-striped table-bordered">
            <tr>
                <th>ID</th>
                <th>Name</th>
                <th>Description</th>
                <th>Value ($)</th>
                <th>SRP ($)</th>
                <th><a href="/homepage/items.create" class="btn btn-success btn-sm"><span class="glyphicon glyphicon-plus" aria-hidden="true"></span> Add Item</a></th>
            </tr>

        %for item in items:
            <tr>
                <td>${item.id}</td>
                <td>${item.name}</td>
                <td>${item.description}</td>
                <td>${item.value}</td>
                <td>${item.standard_rental_price}</td>
                <td>
                    <a href="/homepage/items.edit/${item.id}" class="btn btn-primary btn-sm">Edit</a>
                </td>
            </tr>
        %endfor

        </table>
    </div>
</%block>