<%inherit file="base.htm" />

<%block name="content">
    <div class="content">
        <h4>Terms and conditions</h4>
        <p>terms terms terms terms terms terms terms terms terms terms terms terms terms terms terms terms
            terms terms terms terms terms terms terms terms terms terms terms terms terms terms terms terms
            terms terms terms terms terms terms terms terms terms terms terms terms terms terms terms terms
            terms terms terms terms terms terms terms terms terms terms terms terms terms terms terms terms
            terms terms terms terms terms terms terms terms terms terms terms terms terms terms terms terms
            terms terms terms terms terms terms terms terms terms terms terms terms terms terms terms terms
            terms terms terms terms terms terms terms terms terms terms terms terms terms terms terms terms
            terms terms terms terms terms terms terms terms terms terms terms terms terms terms terms terms
            terms terms terms terms terms terms terms terms terms terms terms terms terms terms terms terms
            terms terms terms terms terms terms terms terms terms terms terms terms terms terms terms terms
            terms terms terms terms terms terms terms terms terms terms terms terms terms terms terms terms
            terms terms terms terms terms terms terms terms terms terms terms terms terms terms terms terms
        </p>
    </div>
</%block>