<%inherit file="base.htm" />
<%inherit file="base_events.html" />

<%block name="content">
    <div class="content">
        <h4>Venue Management</h4>



        <table id="users-table" class="table table-striped table-bordered">
            <tr>
                <th>ID</th>
                <th>Name</th>
                <th>Address</th>
                <th>City</th>
                <th>State</th>
                <th>Zip</th>
                <th>Event</th>
                <th>
                    <a href="/homepage/venues.create/" class="btn btn-success btn-sm"><span class="glyphicon glyphicon-plus" aria-hidden="true"></span> Add Venue</a>
                </th>

            </tr>
            %for venue in venues:
            <tr>
                <td>${venue.id}</td>
                <td>${venue.name}</td>
                <td>${venue.address}</td>
                <td>${venue.city}</td>
                <td>${venue.state}</td>
                <td>${venue.zip}</td>
                <td>${venue.event}</td>
                <td>
                   <a href="/homepage/venues.edit/${venue.id}" class="btn btn-primary btn-sm">Edit</a>
                </td>

            </tr>
        %endfor

        </table>
    </div>
</%block>