<!DOCTYPE html>
<html>
<head>
<title>Order Receipt</title>
<link href="${ STATIC_URL }catalogue/styles/email_billing.css" media="all" rel="stylesheet" type="text/css" />
</head>

<body>

<table class="body-wrap">
	<tr>
		<td></td>
		<td class="container" width="600">
			<div class="content">
				<table class="main" width="100%" cellpadding="0" cellspacing="0">
					<tr>
						<td class="content-wrap aligncenter">
							<table width="100%" cellpadding="0" cellspacing="0">
								<tr>
									<td class="content-block">
										<h1>$107.50 Paid</h1>
									</td>
								</tr>
								<tr>
									<td class="content-block">
										<h2>Thanks for choosing CHF!</h2>
									</td>
								</tr>
								<tr>
									<td class="content-block">
										<table class="invoice">
											<tr>
												<td><strong>Baylor Tarrowes</strong><br>Order #12345<br>June 05 2015</td>
											</tr>
											<tr>
												<td>
													<table class="invoice-items" cellpadding="0" cellspacing="0">
														<tr>
															<td>Battle Musket (1)</td>
															<td class="alignright">$ 12.50</td>
														</tr>
														<tr>
															<td>Teacup set (2)</td>
															<td class="alignright">$ 50.00</td>
														</tr>
														<tr>
															<td>Pocket Watch (1)</td>
															<td class="alignright">$ 45.00</td>
														</tr>
														<tr class="total">
															<td class="alignright" width="80%">Total</td>
															<td class="alignright">$ 107.50</td>
														</tr>
													</table>
												</td>
											</tr>
										</table>
									</td>
								</tr>
								<tr>
									<td class="content-block">
										<a href="#">View in browser</a>
									</td>
								</tr>
								<tr>
									<td class="content-block">
										Colonial Heritage Foundation, 123 Here Road, Orem 94604
									</td>
								</tr>
							</table>
						</td>
					</tr>
				</table>
				<div class="footer">
					<table width="100%">
						<tr>
							<td class="aligncenter content-block">Questions? Email <a href="mailto:">support@colheritagefoundation.com</a></td>
						</tr>
					</table>
				</div></div>
		</td>
		<td></td>
	</tr>
</table>

</body>
</html>