<%inherit file="/homepage/templates/base.htm" />

<%block name="navigation">
    <ul class="nav nav-pills nav-stacked">
        <li role="button"><a href="#">Products</a></li>
    </ul>
</%block>

<%block name="content">
    <div class="content">
        <div class="page-title-block">
            <h1 class="page-title">Online CHF Catalogue</h1>
        </div>

        <div class="row search-bar">
            <div class="col-lg-8">
                <div class="input-group">
                    <input type="text" class="form-control" id="filter" placeholder="Search for items to rent...">
                    <span class="input-group-btn">
                        <button class="btn btn-default" type="button">Go!</button>
                    </span>
                </div><!-- /input-group -->
            </div><!-- /.col-lg- -->
            <div class="col-lg-4">
                <span id="filter-count"></span>
            </div>
        </div><!-- /.row -->

        <hr>

        <div class="row">
            %for i in catalogue_items:

            <!-- Display a thumbnail for each product-->

            <div class="col-sm-4">
                <div class="thumbnail thumbnail-item" id="thumbnail">
                    <img src="${ STATIC_URL }catalogue/media/item_images/${ i.id }.jpg" alt="Image not available" class="item-pic"/>
                    <div class="caption" style="text-align:center;">
                        <h3 class="name">${ i.name }</h3>
                        <p>Price: $ ${ i.standard_rental_price } </p>
                        <!-- add qty input here -->
                        <input id="qty_${ i.id }" class="quantity" type="number" placeholder="qty">
                        <p><a href="/catalogue/item-details/${ i.id }" class="btn btn-sm btn-primary" role="button">View Details</a>
                        <a data-id="${ i.id }" class="btn btn-sm btn-warning add-button">Add to Cart</a>


                    </div> <!-- caption -->
                </div> <!--thumbnail -->
            </div><!--col-->

            %endfor
        </div> <!--row-->

    </div>
</%block>